<nav class="header-nav">
    <div class="logo">
        <img src="logo.svg" alt="Logo" />
    </div>
    <div class="nav-links">
    <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{ 'active': currentRoute === '/home' }" (click)="setCurrentRoute('/home')">Home</a>  
    <a routerLink="/favorites" routerLinkActive="active-link" [ngClass]="{ 'active': currentRoute === '/favorites' }" (click)="setCurrentRoute('/favorites')">Favorites</a>
    </div>
</nav>