<div class="search-and-filter-line">
    <app-search-bar (search)="onSearchPokemon($event)"></app-search-bar>
    <app-filter (filterApplied)="onFilterApplied($event)" (closeFilter)="toggleFilter()" *ngIf="showFilter"></app-filter>
    <button (click)="toggleFilter()" class="filter-button"><img src="filter-icon.svg" alt="Filter" class="filter-icon"/></button>
    <button class="all-button" (click)="resetFilters()">All</button>
</div>
<app-pokemon-grid [pokemons]="displayedPokemons"></app-pokemon-grid>
<div class="load-more-container">
    <button class="load-more-button" (click)="loadMore()" >Load More...</button>
</div>