.load-more-button {
  width: 210px;
  height: 36px;
  border-radius: 9px;
  border-color: #373299;
  border-width: 1px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  background-color: white;
  color: #373299;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.filter-button {
  background: none;
  border: none;
  padding: 0;
}

.search-and-filter-line{
  margin: 123px auto 32px auto; 
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.filter-icon {
  height: 36px;
}

@media (max-width: 1070px) {
  .search-and-filter-line{
      margin-top: 200px;
  }
}
